.main{
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-color: #282c34;
    box-sizing: border-box;
    font-family: 'Varela Round', sans-serif;
}
.main h2{
    font-size: 1.8rem;
    margin: 10px 0;
    color: white;
    text-align: center;
}