.Gif{
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 16px;
    color: orange;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
}

.add_to_favorites_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;  
    position: absolute;
    background: transparent;
    z-index: 1000;
    transition: .5s all;
    color:transparent
}

.add_to_favorites_container i{
    font-size: 2rem;
    cursor: pointer;
}

.add_to_favorites_container:hover{
    background: rgba(0, 0, 0, .9);
    color: white
    
}




.Gif img{
    object-fit: contain;
}

@media (max-width: 425px){
   .Gif img{
       max-width: 381px;
   }
}